*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#nav{
    height: 13%;
    width: 100%;
    background-color: blanchedalmond;
    z-index: 1;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

#nav #nav-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#nav-2 #links a{
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    margin-right: 30px;
    
}

p{
    text-align: left;
    padding: 2vw;
    letter-spacing: 9px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 28px;
}

#page1{
    height: 100vh;
    position: relative;
    width: 100%;
    padding-top: 18vh;

}

#page1 h1{
    font-size: 10vh;
    text-transform: uppercase;
    line-height: 10vh;
    letter-spacing: 2px;
    padding-left: 15px;

}

#video-container{
    height: 100vh;
    width: 100%;

}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page2{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 4in;
    padding: 3vw 1vw;
    justify-content: space-between;
}

#page2 .elem{
    height: 100%;
    width: 31%;
    background-color: aqua;
}

#page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#footer{
    background-color: #111;

}
.footercontainer{
    width: 100%;
    padding: 70px 40px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialicons a i{
    font-size: 1.3em;
    color: rgb(209, 121, 121);
    opacity: 0.9;
}

.footernav{
    margin: 30px 0;
}

.footernav ul{
    display: flex;
    justify-content: center;
}

.footernav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
    text-align: center;
}

.footernav ul li a:hover{
    opacity: 1;
}

.footertext{
    background-color: #000;
    /* padding: 20px; */
    text-align: center;
}

.footertext p{
    color: white;
    font-size: 20px;
    padding: 13px;
    text-align: center;
    letter-spacing: 5px;
}